### GLOBAL ###############################################
COMPOSE_PROJECT_NAME=jupyter
DATA_PATH_HOST=./data

### JUPYTERHUB ###############################################
JUPYTERHUB_ENABLE_NVIDIA=false
JUPYTERHUB_INTERNAL_POSTGRES=true
JUPYTERHUB_POSTGRES_HOST=postgres
JUPYTERHUB_POSTGRES_USER=laradock_jupyterhub
JUPYTERHUB_POSTGRES_PASSWORD=laradock_jupyterhub
JUPYTERHUB_POSTGRES_DB=laradock_jupyterhub
JUPYTERHUB_PORT=9991
JUPYTERHUB_OAUTH_CALLBACK_URL=http://laradock:9991/hub/oauth_callback
JUPYTERHUB_OAUTH_CLIENT_ID={GITHUB_CLIENT_ID}
JUPYTERHUB_OAUTH_CLIENT_SECRET={GITHUB_CLIENT_SECRET}
JUPYTERHUB_USER_DATA={absulute path here}
JUPYTERHUB_SHARED_CONFIG=./jupyterhub/shared_example.json

